<launch>

      <!-- treeview Dataset -->
      <arg  name="bag_file"  default="/home/alex/Downloads/flight3_triple_return_18-19m_1ms_fullareapoles_withRTK.bag"/> <arg name="start_time" default="0"/>

      <!-- Setup static transform between lidar and drone -->      
      <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_lidar2drone" args="-0.2 -0.3 0 0.7071 0 -0.7071 0 base_link livox_frame" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_imu2drone" args="0.0 0 0.0 0.0 0 0 1 base_link body_FLU" />

      <!-- Run the lidar correction node -->
      <node pkg="lidar_correction" type="lidar_correction_node" name="lidar_correction_node" respawn="false" output="screen" required="true"> </node>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log" 
            args="-d $(find lidar_correction)/launch/lidar.rviz" />/>

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="true" />

      <node required="true" pkg="rosbag" type="play" name="rosbag_player"
            args="--clock $(arg bag_file) -r 0.5 -s $(arg start_time)"
            launch-prefix="bash -c 'sleep 1; $0 $@' "/>

</launch>