<launch>

      <!-- treeview Dataset -->
      <arg  name="bag_file"  default="/home/alex/Downloads/fbag1_12_43.bag"/> <arg name="start_time" default="0"/>
            
      <!-- Run the lidar correction node -->
      <node pkg="lidar_correction" type="lidar_correction_node" name="lidar_correction_node" respawn="false" output="screen" required="true"> </node>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log" 
            args="-d $(find lidar_correction)/launch/lidar.rviz" />/>

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="true" />

      <node required="true" pkg="rosbag" type="play" name="rosbag_player"
            args="--clock $(arg bag_file) -r 0.5 -s $(arg start_time)"
            launch-prefix="bash -c 'sleep 1; $0 $@' "/>

</launch>